$yellow: #f8e9a1;
$red: #f76c6c;
$light_blue: #a8d0e6;
$blue: #374785;
$dark_blue: #060b15;
$white: #f0f0f0;
$black: #102526;
$grey: #242424;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}
